 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  width: 50%;
 margin: 0 auto;
 padding: 20px;
  
}
body{
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
}
 